.navbar-brand img {
    width: auto;
    height: 50px;
}


.offcanvas-header img {
    width: auto;
    height: 50px;
}

nav {
    position: sticky !important;
}

.nav-item {
    font-size: 20px;
}



 .action button {
    background-image: linear-gradient(to right top, #cbb26a, #c9ae63, #c6ab5c, #c4a755, #c1a34e, #c2a551, #c4a654, #c5a857, #cab065, #cfb774, #d3bf82, #d8c690);
    border:none !important; 
    color: white;
    border-radius:10px !important; 
    padding:15px !important;
    min-height:30px !important; 
    min-width: 120px !important;
    font-family: 'Trirong', serif;
} 


  .carousel-item img {
    background-position: center center !important;
    /* background-repeat: no-repeat !important;
    background-size: cover !important; */
    /* height: 90vh !important; */

} 


.col i  {
    margin: 20px;
}

.info {
    margin-bottom: 20vh !important;
}

/* .think, .partners, .contact {
    background-image: linear-gradient(to right top, #cbb26a, #c9ae63, #c6ab5c, #c4a755, #c1a34e, #c2a551, #c4a654, #c5a857, #cab065, #cfb774, #d3bf82, #d8c690);
} */

 .courses, .faq, .footer {
    /* background: silver; */
    background-image: linear-gradient(to right top, #cbb26a, #c9ae63, #c6ab5c, #c4a755, #c1a34e, #c2a551, #c4a654, #c5a857, #cab065, #cfb774, #d3bf82, #d8c690);
}

.sil, .info {
    background: rgb(210, 207, 207);
}


.think, .partners, .faq, .contact{
    margin-top: 30vh !important;
    margin-bottom: 30vh !important;
}
 .think span {
    /* margin-top: 100px !important;  */
    font-family: Arial, Helvetica, sans-serif;
    color: #c1a34e;
    font-weight: bold;
    
} 

.partners h2, .courses h2, .faq h2 {
    margin-bottom: 10vh !important;
}

/* .btn-dark button {
    width: 500px;
    height: auto;
} */

.footer {
    margin-top: 30vh !important;
}

.footer a {
    text-decoration: none;
}