{% extends "base.html" %}

{% block title %} Code 9ja - Learn about{% endblock %}

{% block keywords %}About C0de9ja, C0de9ja background, Learn coding for Nigeria, Tech training for Nigerians, C0de9ja mission and vision
Nigerian tech community, Join the coding revolution in Naija, Online coding school for Nigerians, Empowering Nigerians with coding skills, C0de9ja mission and vision
How to join C0de9ja, Become part of C0de9ja, Apply for C0de9ja courses, Nigerian tech community, Join the coding revolution in Naija, Building Nigeria's tech ecosystem, Coding opportunities for Nigerians,
{% endblock %}

{% block description %}Come learn about wetin C0de9ja dey do, wetin we want do, and how you fit be part of this online community. {% endblock %}

{% block author %}code9ja | Bright Daniel{% endblock %}

{% block content %}

  <div class="inner-banner">
    <section class="w3l-breadcrumb text-left">
      <div class="container">
        <ul class="breadcrumbs-custom-path">
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span> About Us</li>
        </ul>
      </div>
    </section>
  </div>
  <!-- about page about section -->

  <section class="w3l-index3" id="about1">
    <div class="midd-w3 py-5">
      <div class="container py-lg-5 py-md-3">
        <div class="row">
          <div class="col-lg-6 mb-lg-0 mb-md-5 mb-4">
            <img src="/static/images/ab1.jpg" alt="" class="radius-image-full img-fluid">
          </div>
          <div class="col-lg-6 pl-lg-5 ">
            <div class="header-title">
              <span class="sub-title">About Us</span>
              <h3 class="hny-title text-left">Na we fit teach you wella</h3>
          </div>
           
            <p class="mt-3">Abeg, make una gather round, make I yarn una tori about us! We be Code Gurus, the real coding jagbajantis for town. We dey use our coding superpowers change the game for Naija tech scene. You go think say na magic we dey do, but no be jazz, na pure code wey dey run things.

              Imagine say coding na party, we be the DJs wey dey scatter the dance floor. From beginner level to advanced coding shaku shaku, we go guide you like correct dance instructor. No dull moment, we go burst your brain with coding gist for pidgin language wey go make you laugh sotey your stomach go dey do coding somersault. No time to talk plenty, come see am yourself</p>
            <a href="{{ url_for('courses_page') }}" class="btn btn-style btn-primary mt-sm-5 mt-4">See our courses <span
              class="fa fa-chevron-right ml-2" aria-hidden="true"></span></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /bottom-grids-->
  <section class="w3l-servicesblock py-5" id="about">
    <div class="container py-lg-5 py-md-3">
        <div class="row">
          <div class="col-lg-6 about-right-faq align-self mb-lg-0 mb-sm-5 mb-4 pr-lg-5">
            <div class="header-title mb-md-5 mb-4">
              <span class="sub-title">Why Choose Us</span>
              <h3 class="hny-title text-left">Na only we dey offer the best courses for pidgin
 
              </h3>
          </div>
            <div class="two-grids mt-md-0 mt-md-5 mt-4">
                <div class="grids_info">
                    <h4>Our Mission</h4>
                    <p class="">To carry everybody waka enter tech world and make dem shine like diamond.</p>
                </div>
                <div class="grids_info">
                    <h4>Our Vision</h4>
                    <p class="">To see say coding and technology become second nature for every Naija person, as e dey flow for our blood.</p>
                </div>
            </div>
        </div>
            <div class="col-lg-6 left-wthree-img mt-lg-0 mt-4">
                <img src="/static/images/IMG_20230702_180149_005.jpg" alt="" class="img-fluid radius-image">
            </div>
           
           
        </div>
    </div>
</section>
  <!-- home page skills section -->
  <section class="w3l-skills" id="skills">
    <div class="midd-w3 py-5">
      <div class="container py-lg-5 py-md-3">
        <div class="row">
          <div class="col-lg-6 pr-lg-5 mb-lg-0 mb-5">
            <img src="/static/images/bg-1.png" alt="" class="radius-image-full img-fluid">
          </div>
          <div class="col-lg-6">
            <div class="header-title mb-4">
              <span class="sub-title">Our Skills</span>
              <h3 class="hny-title text-left">The magic of technology meets the rhythm of our Naija roots.
 
              </h3>
          </div>
          
            <p>Our courses no just dey teach you how to code. We dey teach you everything tech. When you finish, you no go fit get competition. </p>
            <div class="skills-bars mt-4">
              <div class="progress-info">
                <h6 class="progress-tittle">Softskills</h6>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 80%"
                    aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                  </div>
                </div>
              </div>
              <div class="progress-info">
                <h6 class="progress-tittle">Hardskills
                </h6>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 95%"
                    aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                  </div>
                </div>
              </div>
              <div class="progress-info">
                <h6 class="progress-tittle">Transferrable skills.</h6>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 55%"
                    aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                  </div>
                </div>
              </div>

            </div>
          </div>
       
        </div>
      </div>

    </div>
  </section>
  <!-- //home page skills section -->
  <!-- /form-25-section -->
  <section class="w3l-form-25-section" id="subscribe">
    <!-- /form-25-section -->
    <div class="form-25-mian">
      <div class="container py-5">
        <div class="row subscription-grids py-5">
          <div class="col-lg-7 subscription-left forms-25-info">
            <div class="header-title">
              <h3 class="p-0">Na you be our next student
              </h3>
            </div>
          </div>
          <div class="col-lg-5 subscription-right pl-lg-5 mt-lg-0 mt-4 text-lg-right">
            <a href="{{ url_for('courses_page') }}" class="btn btn-style btn-white mr-lg-4 mr-sm-3"> Join Now <span
              class="fa fa-chevron-right ml-2" aria-hidden="true"></span></a>
          </div>
        </div>
      </div>
  </section>
  <!-- //form-25-section -->



    

  {% endblock %}