
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Error Page: Code 9ja </title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords"
        content="Error Page, Code 9ja" />
    <!-- //Meta tag Keywords -->
    <link rel="stylesheet" href="/static/css/error.css" type="text/css" media="all" /><!-- Style-CSS -->
</head>

<body>
    <!-- error -->
	<section class="w3l-error-9">
		<div class="error-page">
			<div class="wrapper-full">
				<div class="main-content">
					<h2>Ehh Brother Bernard</h2>
					<h4>You Don Miss Road oo</h4>
					<p>Make you look well abeg, so you no go loss again. </p>
					<!-- buttons -->
					<div class="buttons">
						<a href="{{ url_for('index') }}" class="btn brk-btn-bg brk-btn">
							Go Back
						</a>
						<a href="{{ url_for('contact_page') }}" class="btn brk-btn">
							Call Us
						</a>
					</div>
				</div>
				<div class="bottom-header">
					<!-- copyright -->
					<div class="copyrights text-center">
						<p>© 2023 Code9ja. All rights reserved. </p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- //error -->
</body>

</html>