{% extends "base.html" %}

{% block title %} Code 9ja - Learn coding in Nigerian Pidgin {% endblock %}

{% block keywords %} Coding, code for pidgin, Nigeria Pidgin, Coding for Naija, C0de9ja, Everything ICT, Coding easy, About C0de9ja, C0de9ja background, Learn coding for Nigeria, Tech training for Nigerians, C0de9ja mission and vision
Nigerian tech community, Join the coding revolution in Naija, Online coding school for Nigerians, Empowering Nigerians with coding skills {% endblock %}

{% block description %}C0de9ja: Where coding meets Nigerian Pidgin! Learn coding and tech skills from the comfort of your home. Apply now and join our vibrant community{% endblock %}

{% block author %}Author Name{% endblock %}

{% block content %}



    <!-- main-slider -->
    <section class="w3l-main-slider" id="home">
        <div class="companies20-content">
            <div class="owl-one owl-carousel owl-theme">
                <div class="item">
                    <li>
                        <div class="slider-info banner-view bg bg2">
                            <div class="banner-info">
                                <div class="container">
                                    <div class="banner-info-bg">
                                        <h5>Learn coding with swag for C0de 9ja!</h5>
                                        <p class="mt-4 pr-lg-4">Welcome to C0de 9ja! We dey yarn code for Naija style. Come learn, come shine!</p>
                                        <a class="btn btn-style btn-primary mt-xl-5 mt-4 mr-2" href="about.html"> Make we begin <span class="fa fa-chevron-right ml-2"
                                                aria-hidden="true"></span></a>
                                        <a class="btn btn-style btn-white mt-xl-5 mt-4" href="services.html"> See wetin we get <span class="fa fa-chevron-right ml-2"
                                                aria-hidden="true"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
                <div class="item">
                    <li>
                        <div class="slider-info  banner-view banner-top1 bg bg2">
                            <div class="banner-info">
                                <div class="container">
                                    <div class="banner-info-bg">
                                        <h5>Crack the code with C0de 9ja!</h5>
                                        <p class="mt-4 pr-lg-4">C0de 9ja dey burst brain! Join us make you learn coding wey go blow ya mind!
                                        </p>
                                        <a class="btn btn-style btn-primary mt-xl-5 mt-4 mr-2" href="{{ url_for('courses_page') }}"> Make we begin <span class="fa fa-chevron-right ml-2"
                                                aria-hidden="true"></span></a>
                                        <a class="btn btn-style btn-white mt-xl-5 mt-4" href="{{ url_for('about_page') }}"> See wetin we get <span class="fa fa-chevron-right ml-2"
                                                aria-hidden="true"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
                <div class="item">
                    <li>
                        <div class="slider-info banner-view banner-top2 bg bg2">
                            <div class="banner-info">
                                <div class="container">
                                    <div class="banner-info-bg">
                                        <h5> Level up ya skills, Naija style!</h5>
                                        <p class="mt-4 pr-lg-4">E be like say you wan code? No wahala! C0de 9ja dey here to make you sharp like oga for coding matter!
                                        </p>
                                        <a class="btn btn-style btn-primary mt-xl-5 mt-4 mr-2" href="{{ url_for('courses_page') }}"> Make we begin <span class="fa fa-chevron-right ml-2"
                                                aria-hidden="true"></span></a>
                                        <a class="btn btn-style btn-white mt-xl-5 mt-4" href="{{ url_for('about_page') }}"> See wetin we get <span class="fa fa-chevron-right ml-2"
                                                aria-hidden="true"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
                <div class="item">
                    <li>
                        <div class="slider-info banner-view banner-top3 bg bg2">
                            <div class="banner-info">
                                <div class="container">
                                    <div class="banner-info-bg">
                                        <h5>Code like a boss, rep Naija style with C0de 9ja!</h5>
                                        <p class="mt-4 pr-lg-4">Come join the Code 9ja family! Na here we dey teach coding wey go make you shine like correct Naija pikin!
                                        </p>
                                        <a class="btn btn-style btn-primary mt-xl-5 mt-4 mr-2" href="{{ url_for('courses_page') }}"> Make we begin <span class="fa fa-chevron-right ml-2"
                                                aria-hidden="true"></span></a>
                                        <a class="btn btn-style btn-white mt-xl-5 mt-4" href="{{ url_for('about_page') }}"> See wetin we get <span class="fa fa-chevron-right ml-2"
                                                aria-hidden="true"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
            </div>
            <div class="w3l-banner-grids">
                <div class="bangrids-inn">
                    <div class="banhny-grid-1">
                        <div class="banhny-grid-icon">
                            <span class="fa fa-laptop"></span>
                        </div>
                        <div class="banhny-grid-right-info">
                            <h6><a href="#url">Join the Movement!</a></h6>
                            <p>We no dey alone for this coding journey. Plenty other people for Naija and Africa dey code with pidgin language, join the movement!</p>
                        </div>
                    </div>
                    <div class="banhny-grid-1">
                        <div class="banhny-grid-icon">

                            <span class="fa fa-users"></span>

                        </div>
                        <div class="banhny-grid-right-info">
                            <h6><a href="#url">No dulling! Enjoy code</a></h6>
                            <p>Come learn code with us, make you no dey dull like generator wey dey rest during light!. We no want hear say 'dem shoot bird e mama fly'</p>
                        </div>
                    </div>
                    <div class="banhny-grid-1">
                        <div class="banhny-grid-icon">
                            <span class="fa fa-book"></span>
                        </div>
                        <div class="banhny-grid-right-info">
                            <h6><a href="#url">Idan coding: Pidgin-Style!</a></h6>
                            <p>Na so we dey code with swag, like baba wey wear agbada enter computer world. Join the squad, make we jolly dey code!</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- /main-slider -->
    <!-- //banner section -->
    <!-- /content-1-->
    <div class="content-1 py-5">
        <div class="container py-md-5">
            <div class="row content-1-grids">
                <div class="col-lg-4 content-1-left forms-25-info">
                    <div class="header-title">
                        <span class="sub-title">About Us</span>
                        <h3 class="hny-title">Learning no suppose hard</h3>
                     
                    </div>
                </div>
                <div class="col-lg-4 content-1-right pl-lg-5 mt-lg-0 mt-4">
                    <p class="">Wahala for who no sabi! We be coding gurus wey dey burst brain with skills. If you dey find correct coding training, you don land for the right place. We dey teach you from beginner level reach baba for tech. No worry, we go use our local language (pidgin) take explain everything, so e go dey easy for you to sabi. Forget any yeye talk, we go make sure say you shine for this coding matter. Join us make we rock the coding world together!
                    </p>
                </div>
                <div class="col-lg-4 content-1-right pl-lg-5 mt-lg-0 mt-4">
                    <p class="">We no be jokers for this coding game. Forget all the wahala, we dey make am easy for you to learn and become coding champ. Even as we dey use our local language (pidgin) teach you, wetin we dey teach na correct and easy to learn. No dulling, we go carry you waka from beginner level reach baba for tech. If you ready to become coding guru, join our squad and make we burst brains together! No dulling oo!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- //content-1-->
    <!--/courses-->
    <div class="w3l-homeblog py-5" id="homeblog">
        <div class="container py-lg-5 py-md-4">
            <div class="header-title mb-3">
                <span class="sub-title">Top Courses</span>
                <h3 class="hny-title text-left">Our Courses Make Sense</h3>
            </div>
            <div class="row top-pics ">

                <!--  -->
                {% if courses %}
                {% for course in courses %}
                {% if loop.index <= 8 %}
                <div class="col-lg-3 col-md-6 mt-5">
                    <div class="top-pic1" style="background: url({{ url_for('static', filename='uploads/' + course.cover_photo) }}); background-size: cover; background-position: center; background-repeat: no-repeat; width: 100%; height: 300px;">
                        <div class="card-body blog-details">
                            <p class="course-sub">{{course.eligibility}}</p>
                            <a href="{{ url_for('course_post', slug=course.slug) }}" class="blog-desc">{{course.title}}
                            </a>
                                <ul class="blog-meta">
                                    <ul class="blog-meta">
                                        <li class="meta-item blog-lesson">
                                            <span class="meta-value"> {{course.duration}} Months</span>. <span
                                                class="meta-value text-bold">₦{{course.cost}}</span>
                                        </li>
                                    </ul>
                                </ul>
                            
                        </div>
                    </div>

                    {% endif %}
                    {% endfor %}
                    {% else %}
                    <div class="readhny-btm text-center mx-auto mt-md-4">
                    <a class="btn btn-primary btn-style mt-md-5 mt-4 text-light" >No course dey for Now, We dey take our time to give you better package <span
                        class="fa fa-chevron-right ml-2" aria-hidden="true"></span></a>
                        </div>
                    {% endif %}
                </div>
               
                <!--  -->


            </div>
            
            <div class="readhny-btm text-center mx-auto mt-md-4">
                <a class="btn btn-primary btn-style mt-md-5 mt-4" href="{{ url_for('courses_page') }}">Read More <span
                        class="fa fa-chevron-right ml-2" aria-hidden="true"></span></a>
            </div>
        </div>
    </div>
    <!--//courses-->
    <section class="w3l-bottom-grids-6 py-5" id="features">
        <div class="container py-lg-5 py-md-4">
            <div class="grids-area-hny main-cont-wthree-fea row">
                <!-- /feature-left-->
                <div class="col-md-6 grids-feature mt-4">
                    <div class="area-box">
                        <div class="row">
                            <div class="col-sm-2 icon">
                                <span class="fa fa-video-camera"></span>
                            </div>
                            <div class="col-sm-10 area-box-info">
                                <h4><a href="#feature" class="title-head">Video Live learning</a></h4>
                                <p class="mt-3">See as we carry learning enter your screen! Forget boring textbooks, we dey bring the code gist to you through video. Just relax for your chair like boss, press play, and let the knowledge flow enter your brain like jollof rice. No dull moment, no wahala, just pure fun and learning. E fit be like say na Nollywood movie, but trust us, na real coding action we dey deliver! You de get double mind for where we dey? Oya join us, come see with ya eye make you confirm am.</p>
                                <a class="btn btn-primary btn-style mt-4" href="{{ url_for('courses_page') }}">Start today <span class="fa fa-chevron-right ml-2" aria-hidden="true"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 grids-feature mt-4">
                    <div class="area-box">
                        <div class="row">
                            <div class="col-sm-2 icon">
                                <span class="fa fa-tasks"></span>
                            </div>
                            <div class="col-sm-10 area-box-info">
                                <h4><a href="#feature" class="title-head">Community of friends and fellow student</a></h4>
                                <p class="mt-3">For this coding journey, we no be just classmates, we be family! Picture us like your favorite WhatsApp group, but with real-life connections. From Lagos to Kano, Abuja to Port Harcourt, we dey unite as one big community of coding warriors. Na here we go share ideas, ask questions, and motivate each other. Together we go conquer code like Area Boys take over street. If you wan laugh, learn, and grow, come join us for this coding groove. </p>
                                <a class="btn btn-primary btn-style mt-4" href="{{ url_for('courses_page') }}">Start today <span class="fa fa-chevron-right ml-2" aria-hidden="true"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //bottom-grids-->

    <!-- middle -->
    <div class="middle py-5">
        <div class="container pt-lg-2 pb-lg-4 py-4">
            <div class="welcome-left text-center py-lg-4">
                <h3 class="hny-title">"We carry your matter for head like gele, we no go drop am!"😄🚀</h3> 
                 <div class="middle-buttons pb-5">
                    <a href="{{ url_for('courses_page') }}" class="btn btn-style btn-white mt-sm-5 mt-4 mr-2">Start Today <span
                            class="fa fa-chevron-right ml-2" aria-hidden="true"></span></a>
                    <a href="{{ url_for('about_page') }}" class="btn btn-style btn-primary mt-sm-5 mt-4">Ask Us Question <span
                            class="fa fa-chevron-right ml-2" aria-hidden="true"></span></a>
                </div>
            </div>
        </div>
    </div>
    <!-- //middle -->
    <!-- stats -->
    <section class="w3_stats py-lg-0 py-5" id="stats">
        <div class="container">
            <div class="w3-stats">
                <div class="row">
                    <div class="col-md-3 col-6 mt-md-0 mt-5">
                        <div class="counter">
                            <span class="fa fa-clone"></span>
                            <div class="timer count-title count-number mt-3" data-to="121" data-speed="1500"></div>
                            <p class="count-text">We dey teach</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 mt-md-0 mt-5">
                        <div class="counter">
                            <span class="fa fa-video-camera"></span>
                            <div class="timer count-title count-number mt-3" data-to="1256" data-speed="1500"></div>
                            <p class="count-text ">Hours of Support</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 mt-md-0 mt-5">
                        <div class="counter">
                            <span class="fa fa-smile-o"></span>
                            <div class="timer count-title count-number mt-3" data-to="67" data-speed="1500"></div>
                            <p class="count-text">We don graduate</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 mt-md-0 mt-5">
                        <div class="counter">
                            <span class="fa fa-users"></span>
                            <div class="timer count-title count-number mt-3" data-to="5" data-speed="1500"></div>
                            <p class="count-text">Our Sponsors</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //stats -->
    <!-- home page video popup section -->
<section class="w3l-videohny" id="video">
    <div class="new-block py-5">
        <div class="container py-lg-5">
                <div class="history-info position-relative">
                        <!--//video-->
                        <a href="#small-dialog" class="popup-with-zoom-anim play-view text-center pl-3">
                            <span class="video-play-icon">
                                <span class="fa fa-play"></span>
                            </span>
                        </a>

                        <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                            <iframe src="https://www.youtube.com/embed/rnm03hxwyWQ" frameborder="0"
                                        allow="autoplay; fullscreen" allowfullscreen></iframe>
                        </div>
                        <!--//video-->
                    </div>

            </div>
    </div>
</section>
<!-- //home page video popup section -->
    <!--/blog-post-->
    <section class="w3l-blogpost-content py-5">
        <div class="container py-md-5">
            <div class="header-title mb-md-5 mt-4">
                <span class="sub-title">Latest Posts</span>
                <h3 class="hny-title text-left">Tori as E dey hot</h3>
            </div>
            <div class="row">
                {% if blogs %}
                {% for blog in blogs %}
                {% if loop.index <= 3 %}
                <div class="col-lg-4 col-md-6 item">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="blog-single.html">
                                <img class="card-img-bottom d-block radius-image-full" src="{{ url_for('static', filename='uploads/' + blog.cover_photo) }}" alt="{{ blog.title }}">
                            </a>
                        </div>
                        <div class="card-body blog-details">
                            <a href="{{ url_for('blog', slug=blog.slug) }}" class="blog-desc">{{ blog.title }}
                            </a>
                            <div class="align-items-center">
                                <ul class="blog-meta">
                                    <li>
                                        <a href="#">{{ blog.author }}</a> 
                                    </li>
                                    <li class="meta-item blog-lesson">
                                        <span class="meta-value"> {{ blog.date_posted.strftime("%Y-%m-%d") }} </span>. <span class="meta-value ml-2"><span class="fa fa-clock-o"></span>{{ blog.duration }}min</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                </div>
                {% endif %}
                {% endfor %}
                {% else %}
                <div class="readhny-btm text-center mx-auto mt-md-4">
                    <a class="btn btn-primary btn-style mt-md-5 mt-4 text-light" >No new gist for now oo, but no worry, we go get some gossip for you later <span
                        class="fa fa-chevron-right ml-2" aria-hidden="true"></span></a>
                        </div>
                {% endif %}
              
            
            </div>
            <div class="readhny-btm text-center mx-auto mt-md-4">
                <a class="btn btn-primary btn-style mt-md-5 mt-4" href="{{ url_for('blogs_page') }}">Read More <span
                        class="fa fa-chevron-right ml-2" aria-hidden="true"></span></a>
            </div>
        </div>
    </section>
    <!--//blog-posts-->
    <!--/w3l-newsletter-->
    <section class="w3l-newsletter">
        <!-- /form-25-section -->
        <div class="form-25-main py-5">
            <div class="container py-lg-5">
                <div class="forms-25-info">

                    <div class="header-title mb-md-5 mt-4">
                        <span class="sub-title">Subscribe to our Newsletter</span>
                        <h3 class="hny-title text-left">Join our coding gang</h3>
                    </div>
                    <form action="#" method="post" class="signin-form mt-4 mb-2">
                        <div class="forms-gds">
                            <input type="text" name="" placeholder="Name" required />
                            <input type="email" name="" placeholder="Email" required />
                            <button class="btn btn-style btn-primary">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--//w3l-newsletter-->
    <!-- testimonials -->
    <section class="w3l-clients-1" id="testimonials">
        <!-- /grids -->
        <div class="cusrtomer-layout py-5">
            <div class="container py-lg-5 py-md-4">
                <div class="header-title mb-md-5 mb-4">
                    <span class="sub-title">Testimonials</span>
                    <h3 class="hny-title text-left">Wetin people talk about us</h3>
                </div>
                <!-- /grids -->
                <div class="testimonial-row">
                    <div id="owl-demo1" class="owl-two owl-carousel owl-theme mb-md-3 mb-sm-5 mb-4">
                        <div class="item">
                            <div class="testimonial-content">
                                <div class="testimonial">
                                    <blockquote>
                                        <q>At first, I been dey doubt this coding training, but chai! This thing just blow my mind! I no go lie, I think say coding na long thing wey I no fit understand. But as I enter this training, e be like say light just enter my brain. The way dem take explain everything, I just dey wowed. Now I dey build my own website like pro. This training na pure magic, I no fit thank them enough!</q> 
                                    </blockquote> - Ngozi Okonkwo <p class="indentity">Student</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-content">
                                <div class="testimonial">
                                    <blockquote>
                                        <q>I been get small curiosity about coding, but I no sure whether e go fit my head. But when I enter this training, my curiosity turn to excitement! The way dem dey break down the code, e just dey make sense. I dey like say person wey discover hidden treasure. Now I fit build apps and create things wey I never believe say I fit do. This training na fuel to my passion, I dey feel like coding superstar</q> 
                                    </blockquote> - Olumide Adekunle <p class="indentity">Student</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-content">
                                <div class="testimonial">
                                   
                                    <blockquote>
                                        <q>Honestly, I no sabi anything about coding before I join this training. But the curiosity wey dey my mind push me come. And I no regret am one bit! The training na fire, I dey feel like coding ninja. The instructors, the community, everybody just dey ginger me. I dey write lines of code like say na love letter. This training na turning point for my life, I go dey code till infinity!</q> 
                                    </blockquote>  - Adaobi Chukwu <p class="indentity">Student</p>
                                   
                                </div>
                          
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-content">
                                <div class="testimonial">
                                    <blockquote>
                                        <q>As curious cat wey I be, I just wan know wetin this coding thing dey talk. But as I enter this training, my curiosity transform to excitement wey I no fit explain. The way dem dey teach us for pidgin, e just make everything sweet like jollof rice. I dey laugh, I dey learn, I dey code. Na pure joy! This training na combination of fun and knowledge, I feel like coding champion for real.</q> 
                                    </blockquote>  - Joyce Alozie <p class="indentity">Student</p>
                                  
                                </div>
                              
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-content">
                                <div class="testimonial">
                                    <blockquote>
                                        <q>Ehn ehn! Coding for pidgin? I just hear am, I say make I enter sharp sharp! No time to waste. As dem start the training, my body dey shake with excitement. The way dem dey yarn the code gist for pidgin, e just dey sweet my belle. I dey feel like say coding don enter my DNA. This training na total satisfaction, I no fit stop to dey thank them.</q>  
                                    </blockquote> - Samuel Eze <p class="indentity">Student</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-content">
                                <div class="testimonial">
                                    <blockquote>
                                        <q>Omo, I don dey hear rumour about this coding training for pidgin, I just know say I gots join. As I enter, na big wow! The way dem break down the code for pidgin language, e just be like say I dey chop my favorite isi-ewu. The joy wey dey my heart, I fit explode. This training na like fresh palm wine wey sweet my soul. I feel like coding conqueror, nothing fit stop me now!</q>
                                    </blockquote> - Nenny Enobong <p class="indentity">Student</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /grids -->
        </div>
        <!-- //grids -->
    </section>
    <!-- //testimonials -->

    {% endblock %}