{% extends 'defaults.html' %}


{% block meta %}

{% endblock %}

{% block title %}
    Code 9ja | Learn code in pidgin
{% endblock %}


{% block content %}

<!-- Slide backgroung start -->
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/images/bg-1.png" class="d-block w-100 img-responsive" alt="...">
        <div class="carousel-caption carousel-caption-sm d-md-block action">
          
          <h5>  Nothing better pass to learn code for our 9ja language wey you fit understand  </h5> 
          <br>
          <button> <h4> Start To Learn </h4></button>
          </div>
      </div>
      <div class="carousel-item">
        <img src="/static/images/bg-2.png" class="d-block w-100 img-responsive" alt="...">
        <div class="carousel-caption carousel-caption-sm d-md-block action">
          <h5> If you learn for our pidgin language, you go see say the code go enter body well </h5>
          <br>
          <button> <h4>  Start To Learn </h4></button> 
          </div>
      </div>
      <div class="carousel-item">
        <img src="/static/images/bg-3.png" class="d-block w-100 img-responsive" alt="...">
        <div class="carousel-caption carousel-caption-sm d-md-block action">
          <h5> Nobody don do am before. Learn code small small with pidgin till you become baba  </h5>
          <br>
          <button> <h4>  Start To Learn </h4></button> <br>
          
          </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- Slide background end -->


  <!-- Info section start -->
  <section class="info"> 
  <div class="container-xxl text-center">
    <div class="w-100">
    <div class="row row-cols-lg-3">
      <div class="col">
        <i class="fa-solid fa-users-between-lines"></i>
            <div class="card-body">
              <p >No be only you go learn. Many other people for Nigeria and Africa seff dey learn code with pidgin language.
              </p>
            </div>
        </div>
      

        <div class="col">
            <i class="fa-solid fa-ranking-star"></i>
               <div class="card-body">
                 <p >Na we be the first people for Nigeria and Africa to teach correct courses wey go carry you from beginner to baba for tech. </p>
               </div>
           </div>

           <div class="col">
            <i class="fa-solid fa-globe"></i>
               <div class="card-body">
                 <p >Even as we dey use our local language teach you, wetin we dey teach you dey correct and easy to learn </p>
               </div>
           </div>
    </div>
  </div>
  </div>
</section>
<!-- Info section end -->


<!-- Why us section or think section starts -->
  <section class="think">

  <div class="row text-center h-100 w-100 row-cols-1 row-cols-lg-2">
    <div class="col">
      <h2 class="h1-responsive font-weight-bold text-center my-4">Why you suppose learn from us?</h2>

      <div>
        <p>
        Many people want learn how to code sotey even if dem wake dem from sleep to write code, dem go run am quick quick. But the thing be say to learn am na wahala. No be say places no dey to learn from oo, but sometimes to understand wetin dem dey teach na wahala. <span>We don solve this problem for you</span> We dey here for you to teach you code sotey you go understand all the important things wey you need to know about am. And also, you go learn wetin you need to build better projects, plus seff, you go fit begin apply for companies to work with them. All this things wey we go teach you, na for language wey you no need dictionary to understand. <span>Na for our pidgin language </span> 
      </p>
      </div>

    </div>
    <div class="col"> <img src="/static/images/why_us.jpg" class="card-img-top" alt=""> </div>
  </div>

</section>

<!-- why us / think section ends -->

<!-- Courses section -->
  <section class="container-xxl text-center courses" >
    <h2 class="h1-responsive font-weight-bold text-center my-4">Our Courses Make Sense</h2>

    <div class="row row-cols-1 row-cols-md-2 g-4 course">
      <div class="col">
        <div class="card">
          <img src="/static/images/web-dev.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Web Development</h5>
            <p class="card-text">Learn how to create better websites wey get sense to remember things wey you store inside like your username and password. Even seff websites wey person fit use do business or recieve payment.</p>
            <div class="action">
              <button> Learn More </button>
            </div>
            
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="/static/images/software.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Software Engineering</h5>
            <p class="card-text">Learn the basics of how your computer dey work. How e dey get command from you, and how you fit command your computer with code!</p>

            <div class="action">
              <button> Learn More </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="/static/images/game-dev.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Game Development</h5>
            <p class="card-text">Learn how you fit use computer language to create those intresting games wey you de like and wey other people go like.</p>

            <div class="action">
              <button> Learn More </button>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div> -->
    </div>
  </section>
<!-- Courses section ends -->

<!-- Partners section starts -->
  <section class="container-xxl text-center partners">
    
    <h2 class="h1-responsive font-weight-bold text-center">People wey join hand with us to give you this better package</h2>

    <div class="row row-cols row-cols-md-2 row-cols-xl-4 sil">
      <div class="col">
        <img src="/static/images/partner_1.png" alt="">
      </div>
      <div class="col">
        <img src="/static/images/partner_2.png" alt="">
      </div>
      <div class="col">
        <img src="/static/images/partner_3.png" alt="">
      </div>
      <div class="col">
        <img src="/static/images/partner_4.png" alt="">
      </div>
    </div>
</section>
<!-- Partners section ends -->

<!-- Faq section starts -->
<section class="container-xxl text-center  faq">
  <h2 class="h1-responsive font-weight-bold text-center my-4">Some questions wey you fit get for mind</h2>

  <div class="row text-center h-100 w-100 row-cols-1 row-cols-lg-2 mt-5 ">
    <div class="col"> 
      <div class="row row-cols-1">
        <div class="col">
          <p class="btn btn-dark w-100">
            <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
             <p> I fit learn and complete this training from my house? </p> 
            </button>
          </p>
          <div class="collapse" id="collapseExample1">
            <div class="card card-body">
             Yes oo! All your learning na from your house. We de make the online learning be like physical one. You no go even see any diiference
            </div>
          </div>
        </div>



        <div class="col">
              <p class="btn btn-dark w-100">
                <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                 <p>When I fit start the course? </p> 
                </button>
              </p>
              <div class="collapse" id="collapseExample2">
                <div class="card card-body">
                  You fit register for our course anytime. If the course no dey open when you want join, tell us and we go add you to the people wey de wait for the course
                </div>
              </div>
            </div>
        
            <div class="col">
              <p class="btn btn-dark w-100">
                <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
                 <p>How long the course go take?</p> 
                </button>
              </p>
              <div class="collapse" id="collapseExample3">
                <div class="card card-body">
                  All our courses dey last for 3 - 6 months or 13 - 25 weeks. Enough time for you to really sabi the skill
                </div>
              </div>
            </div>

            <div class="col">
              <p class="btn btn-dark w-100">
                <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample4">
                 <p>After I learn finish, I go get work? </p> 
                </button>
              </p>
              <div class="collapse" id="collapseExample4">
                <div class="card card-body">
                 For our best students, We get internship plans for them. We go train you for real world situations, set your profile well so that you go fit look for job, and give you projects to handle so that you go get experience.
                </div>
              </div>
            </div>
        
            <div class="col">
              <p class="btn btn-dark w-100">
                <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample5">
                 <p>After the training, I go get certificate?</p> 
                </button>
              </p>
              <div class="collapse" id="collapseExample5">
                <div class="card card-body">
                 Yes, You go get certificate at the end of your training. Even self, people wey intern with us go get at least 2 harvard certificate. But the most important thing be say you go really get knowledge wey go make you stand out and dey different.
                </div>
              </div>
            </div> 

        </div>

    </div>

      <div class="col text-start">

        <p>

          We Dey do everything wey to make your learning with us go well. We want make you enjoy this tech thing. Make you sabi am, make you understand am and make you use am solve world problems.
          <br>
          Any Issue wey you get, know say we always dey for you to help you. We go take care of am for you. We no go only teach you, we go still hold your hand and guide you as you dey go. This course na for africans, na for Nigerians, so we be your guys. <br> As you begin this journey with us, we wish you better learning with joy!
  
        </p>
        <img src="/static/images/logo.png" class="card-img-top" style="background: #000;" alt="">
      </div>


      
    </div>



  </section> 


<!-- Contact section starts -->
<section class="container-xxl text-center contact">

  <!--Section heading-->
  <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
  <!--Section description-->
  <p class="text-center w-responsive mx-auto mb-5">E get anything wey no too dey clear to you? Abeg no reason am oo. Send us message now or call us and we go answer you sharp sharp. We dey wait to hear from you. </p>

  <div class="row">

      <!--Grid column-->
      <div class="col-md-9 mb-md-0 mb-5">
          <form id="contact-form" name="contact-form" action="mail.php" method="POST">

              <!--Grid row-->
              <div class="row">

                  <!--Grid column-->
                  <div class="col-md-6">
                      <div class="md-form mb-0">
                          <input type="text" id="name" name="name" class="form-control" required>
                          <label for="name" class="">Your name</label>
                      </div>
                  </div>
                  <!--Grid column-->

                  <!--Grid column-->
                  <div class="col-md-6">
                      <div class="md-form mb-0">
                          <input type="text" id="email" name="email" class="form-control" required>
                          <label for="email" class="">Your email</label>
                      </div>
                  </div>
                  <!--Grid column-->

              </div>
              <!--Grid row-->

              <!--Grid row-->
              <div class="row">
                  <div class="col-md-12">
                      <div class="md-form mb-0">
                          <input type="text" id="subject" name="subject" class="form-control" required>
                          <label for="subject" class="">Subject</label>
                      </div>
                  </div>
              </div>
              <!--Grid row-->

              <!--Grid row-->
              <div class="row">

                  <!--Grid column-->
                  <div class="col-md-12">

                      <div class="md-form">
                          <textarea type="text" id="message" name="message" rows="4" class="form-control md-textarea" required></textarea>
                          <label for="message">Your message</label>
                      </div>

                  </div>
              </div>
              <!--Grid row-->

          </form>

          <div class="text-center text-md-left">
              <a class="action"> <button class="w-100"> Send </button></a>
          </div>
          <div class="status"></div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-3 text-center">
          <ul class="list-unstyled mb-0">
              <li><i class="fa fa-map-marker-alt fa-2x"></i>
                  <p>Rivers state ict dept, Aba Road, Port Harcourt, Rivers State</p>
              </li>

              <li><i class="fa fa-phone mt-4 fa-2x"></i>
                  <p>+234 81 4818 5691</p>
              </li>

              <li><i class="fa fa-envelope mt-4 fa-2x"></i>
                  <p>talk@code9ja.com</p>
              </li>
          </ul>
      </div>
     

  </div>

</section>
<!-- Contact section ends -->
  



{% endblock %}