
{% extends "base.html" %}

{% block title %} Code 9ja - Learn about{% endblock %}

{% block keywords %}Keywords specific to this page{% endblock %}

{% block description %}Description specific to this page{% endblock %}

{% block author %}Author Name{% endblock %}

{% block content %}


<section>
	<div class="inner-banner">
	</div>
	<div class="container py-5 h-100">
	  <div class="row d-flex justify-content-center align-items-center h-100">
		<div class="col col-xl-10">
		  <div class="card" style="border-radius: 1rem;">
			<div class="row g-0">
			  <div class="col-md-6 col-lg-5 d-none d-md-block">
				<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
				  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
			  </div>
			  <div class="col-md-6 col-lg-7 d-flex align-items-center">
				<div class="card-body p-4 p-lg-5 text-black">
  
					<form action="{{ url_for('login_page') }}" method="POST">
					
						<h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>
						<div class="form-outline mb-4">
						  <input type="email" id="email" name="email" class="form-control form-control-lg" required>
						  <label class="form-label" for="email">Email address</label>
						</div>
						<div class="form-outline mb-4">
						  <input type="password" id="password" name="password" class="form-control form-control-lg" required>
						  <label class="form-label" for="password">Password</label>
						</div>
						<div class="pt-1 mb-4">
						  <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
						</div>
						<a class="small text-muted" href="#!">Forgot password?</a>
						<p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="{{ url_for('register_page') }}" style="color: #393f81;">Register here</a></p>
					  </form>
					  
					  
  
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	
  </section>


{% endblock %}