{% extends 'dashboard_base.html' %}

{% block content %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
<div class="container">

  <h1>View Applications</h1>
  <div class="row">
    {% for course in courses %}
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ course.title }}</h5>
          <p class="card-text">{{ course.description }}</p>
          <a href="{{ url_for('view_course_applications', course_id=course.id) }}" class="btn btn-primary">View Applications</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</div>
</main>

{% endblock %}
